* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: 0;
          box-sizing: 0;
}

#header {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.logo {
  width: 120px;
  height: 30px;
  margin: 0 50px;
  border-radius: 20px;
}

img {
  width: 150px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ham-menu {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 3px 50px;
  border-radius: 5px;
}

.footer {
  color: red;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

.bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  height: 100vh;
}

.bg .leftside {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #051a41;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bg .leftside .info {
  color: #fff;
  padding-left: 40px;
}

.bg .leftside .name {
  font-size: 5rem;
  font-weight: 700;
  line-height: 70px;
}

.bg .leftside .buttons {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bg .leftside .buttons a {
  background-color: #ff7b00;
  padding: 10px 30px;
  text-decoration: none;
  color: #051a41;
  font-weight: 500;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 15px #131313;
          box-shadow: 0px 0px 15px #131313;
}

.bg .leftside .buttons a:hover {
  background-color: #be5c00;
  color: #fff;
}

.bg .leftside .buttons .whats {
  background-color: #051a41;
  border: 1px solid #ff7b00;
  color: #ff7b00;
  margin: 10px;
}

.bg .rightside {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-image: url("../images/WhatsApp Image 2022-01-29 at 20.02.58.jpeg");
  background-size: cover;
  background-position: center;
}

footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

.rodape {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rodape .copy p {
  font-size: 12px;
  color: #fff;
  margin: 10px 50px;
}

@media (max-width: 850px) {
  #header {
    position: initial;
    background-color: #051a41;
  }
  .bg {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .leftside {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding: 30px 20px;
  }
  .rodape {
    position: initial;
  }
  .rodape .copy p {
    color: #051a41;
    margin: 10px;
  }
}

@media (max-width: 450px) {
  .bg .leftside .info .name {
    font-size: 4rem;
  }
  .buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .bg .leftside .info .buttons a {
    width: 240px;
  }
}
/*# sourceMappingURL=base.css.map */